.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f2ecfe;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 22px 26px 25px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  color: #6634cb;
  display: block;
  text-align: center;
}

.sidepanel a:hover {
  color: #2d0f69;
  font-weight: 600;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  font-size: 60px;
}
.sidepanel .closebtn:hover {
  font-weight: 300;
}


body>header>nav h1{
  font-size: 35px;
}
body>header>nav h1 a{
  color: #6634cb;
}
#men_dis{
  cursor: pointer;
}
/* hampugure icon */
#men_dis .bar {
  opacity: 100%;
  width: 35px;
  height: 5px;
  background-color: #6634cb;
  margin: 6px 0;
}
#nav_heading{
  transition: filter 0.3s ease-in-out;
}

/* blur screen */
.blur {
  /* Optional styles for the blurred element (can be body or a specific container) */
  filter: blur(15px); /* Adjust blur amount as needed */
  transition: filter 0.3s ease-in-out; /*Add a smooth transition*/
}
body>header>nav{
  position: fixed;
  padding: 24px 22px ;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
}
body > header > nav.scrolled {
  background-color: #39363f; /* Background color on scroll */
}
@media only screen and (max-width: 700px) {
  body>header>nav{
    padding: 12px 11px;
  }
  #men_dis .bar{
    width: 30px;
  }
  body>header>nav h1{
    font-size: 30px;
  }
  
  .sidepanel .closebtn {
  padding-left: 11px;
  padding-top: 0px;}
}