#contact_me {
    max-width: 100%;
}

.form-container {
    display: grid;
    gap: 10px;
    /* Adjust gap as needed */
}

.form-row {
    display: grid;
}
#contact_info{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.message-input {
    resize: none; 
    overflow: hidden; /* Hide any overflow */
    padding: 12px 15px;
    font-family: sans-serif;
    font-size: 1em;
    border: 3px solid #E3D8FD; /* Basic styling */
    border-radius: 15px;
    width: 100%; /* Full width */
}

textarea:focus{
    outline: none;
}

@media screen and (max-width: 900px) {

    /* Adjust breakpoint as needed */
    #contact_info {
        grid-template-columns: 1fr;
        /* Single column for smaller screens */
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input.field {
    padding: 12px 15px;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 1em;
}

input.field:focus {
    outline: none;
}

button#submit-btn {
    background-color: #39363F;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#submit-btn:hover {
    background-color: #595463;
}

#contact_me .field {
    margin-bottom: 15px;

}

#contact_me input {
    background-color: #fff;
    border-color: #E3D8FD;
    box-sizing: border-box;
    padding: 0 15px;
    min-height: 3.5rem;
    height: 5vh;
    border-radius: 15px;
    background-clip: padding-box;
    display: inline-block;
    border-width: 3px;
}
@media (max-width: 900px) {
    input.field  {
        padding: 10px 12px;
        font-size: 1.2rem;
    }
    .message-input{
        padding: 10px 12px;
        font-size: 1.2rem;
    }

    button#submit-btn {
        padding: 12px 15px;
        font-size: 1.2rem;
    }
 
}