@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

body {
  font-family: sans-serif;
  background-color: #39363f;
  color: #000000;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
#particles_background {
  position: fixed;
  inset: 0;
  z-index: -999;
}
#particles_background #canvas1 {
  background: #150e22;
}

#particles_background img {
  display: none;
}

.splash {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 24px;
}

.splash .profile-picture {
  border-radius: 50%;
  width: 30vw;
}

.splash .profile-picture:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  filter: brightness(1.2);
}

.splash .image-wrapper {
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.splash h1 {
  font-size: 6em;
  color: #d8d8d8;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;
}
.splash h1:hover {
  color: white;
  text-shadow: 0 0 10px #af87ff, 0 0 20px #af87ff, 0 0 30px #af87ff;
  transition: color 0.3s ease-in-out;
  filter: brightness(1.2);
  
}


.splash h2 {
  font-size: 2.5em;
  font-weight: 100;
  color: #9d7be0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

@media only screen and (max-width: 1500px) {
  .splash .profile-picture {
    width: 40vw;
  }

}

@media only screen and (max-width: 1200px) {
  .splash .profile-picture {
    width: 55vw;
  }

}

@media only screen and (max-width: 900px) {
  .splash .profile-picture {
    width: 70vw;
  }

  .splash .image-wrapper {
    padding-top: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .splash .profile-picture {
    width: 80vw;
  }
  .splash{
  padding-top: 40px;
  }
  .splash .image-wrapper {
    padding-top: 5%;
  }
}

.splash .social-icons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.splash .social-icons a {
  color: #ffffff;
  font-size: 2em;
}

.splash .social-icons a:hover {
  color: #be9dff;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.5em;

}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.section {
  background: rgba(255, 255, 255, 0.9);
  padding-top: 24px;
  padding-bottom: 24px;
}

.section-title {
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(2px);
}

.section-title h1 {
  font-size:5rem;
  color: #e1e1e1;
  font-weight: 600;
  letter-spacing: .3rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;
}

.section-title h1:hover {
  color: white;
  text-shadow: 0 0 10px #af87ff, 0 0 20px #af87ff, 0 0 30px #af87ff;
  transition: color 0.3s ease-in-out;
  filter: brightness(1.2);
  
}
@media (max-width: 800px) {
  .section {
      padding: 20px;
      
  }

  .section-title h1 {
      font-size: 12vw;
  }
}
.container {
  max-width: 90vw;
  padding: 24px;
  padding: clamp(8px, 10%, 24px);
  margin: auto
}

#about_me {
  font-weight: 300;
  padding: 1rem 0;
  font-size: 1.5rem
}